
.app{
    overflow: hidden;
}

.header{
    padding-bottom: 20px;
}

.header__nav{
    display: flex;
    justify-content: space-between;
}

.strikethrough{
    border-bottom: 1px solid var(--border-color);
}

.header__nav-left{
    
}

.header__left-list{
    list-style: none;
    display: flex;
    padding-left: 0;
}

.header__nav-language{
    position: relative;
}

.header__nav-language:hover .header__language-list{
    bottom: -93.5px;
    opacity: 1;
    z-index: 1;
}

.header__language-list{
    position: absolute;
    background-color: var(--white-color);
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
    width: 120px;
    height: 90px;   
    padding: 0px 10px 10px 10px;
    bottom: -93.5px;
    bottom: -120px;
    opacity: 0;
    z-index: -1;
    transition: all 0.3s linear;
}

.header__language-list::before{
    position: absolute;
    content: "";
    width: 120px;
    height: 30px;
    right: 3px;
    top: -10px;
}

.header__language-list-item{
    padding-top: 20px;
    display: inline-block;
    position: relative;
}

.header__language-list-item::before{
    position: absolute;
    content: "";
    width: 120px;
    left: -10px;
    top: 10px;
    border-bottom: 1px solid var(--border-color);
}

.header__language-list-item-link{
    
}

.header__language-list-item-link span{
    display: inline-block;
    line-height: 2rem;
}

.header__language-list-item-img{
    padding-right: 6px;
}

.header__nav-price{
    position: relative;
}

.header__nav-price:hover .header__price-list{
    bottom: -93.5px;
    opacity: 1;
    z-index: 1;
}

.header__price-list{
    position: absolute;
    background-color: var(--white-color);
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
    width: 120px;
    height: 90px;   
    padding: 0px 10px 10px 10px;
    left: -18.5px;
    bottom: -93.5px;
    opacity: 0;
    z-index: -1;
    bottom: -120px;
    transition: all 0.3s linear;
}

.header__price-list::before{
    position: absolute;
    content: "";
    width: 120px;
    height: 30px;
    right: 3px;
    top: -10px;
}


.header__price-list-item{
    padding-top: 20px;
    display: block;
    position: relative;
}

.header__price-list-item::before{
    position: absolute;
    content: "";
    width: 120px;
    left: -10px;
    top: 10px;
    border-bottom: 1px solid var(--border-color);
}

.header__price-list-item-link{
    
}

.header__price-list-item-link span{
    display: inline-block;
    line-height: 2rem;
}

.header__nav-price::before{
    position: absolute;
    content: "";
    height: 14px;
    top: 50%;
    transform: translateY(-50%);
    left: -20px;
    border-right: 1px solid var(--border-color);
}
.header__right-list{
    list-style: none;
    display: flex;
    padding-left: 0;
    float: right;
}
.header__left-item,
.header__right-item{
    margin: 0 20px;
    font-size: 1.3rem;
    cursor: pointer;
    position: relative;
}

.header__right-item{
    position: relative;
}

.header__left-item-link,
.header__right-item-link{
    color: var(--text-color);
    text-decoration: none;
}


.header__right-item-link span{
    display:inline-block; 
    vertical-align:middle;
    width:7rem;
}

.header__right-item-link{
    display: flex;
}

.header__right-item-link i{
    padding-right: 5px;
}

.header__right-item::before{
    position: absolute;
    content: "";
    height: 14px;
    top: 50%;
    transform: translateY(-50%);
    left: -20px;
    border-right: 1px solid var(--border-color);
}

.header__right-item:first-child::before{
    display: none;
}

.header__icon-dow{
    font-size: 1rem;
}

.header__nav-language-img{
    
}

.header__nav-language .header__left-item-link{
    position: relative;
    bottom: 3px;
}

.header__price-list-item-link:hover,
.header__language-list-item-link span:hover,
.header__right-item-link:hover{
    color: var(--primary-color);
    transition: 0.3s linear;
}

.header__search{
    margin-top: 40px;
}

.header__search-logo{

}

.header__search-logo-link{

}

.header__search-search{

}

.header__search-search-form{
    position: relative;
}

.header__search-search-input{
    width: 100%;
    outline: none;
    padding: 13px 30px;
    border: 2px solid var(--primary-color);
    border-radius: 30px;
}

.header__search-search-icon{
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    
}

.header__search-search-icon-link{
    font-size: 1.5rem;
    font-weight: 200;
    color: #999;
}
.header__search-cart-text span:hover,
.header__search-search-icon-link:hover,
.header__search-tell-text span:hover{
    color: var(--primary-color);
    transition: 0.3s linear;
}

.header__search-tell{
    margin-left: 10px;
}

.header__search-tell-link{
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    display: flex;
}

.header__search-tell-img{
    width: 20%;
    display: block;
}

.header__search-tell-text{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}
.header__search-cart-text h1,
.header__search-tell-text h1{
    font-size: 1.3rem;
    margin-bottom: 5px;
    letter-spacing: 1px;
}

.header__search-cart-text span,
.header__search-tell-text span{
    font-size: 1.3rem;
    color: var(--text-color);
}

.header__search-cart-link{
    height: auto;
    display: flex;
    width: 100%;
    max-width: 48px;
    max-height: 48px;
}

.header__search-cart-img{
    width: 60%;
    display: inline-block;
}

.header__search-cart{
    display: inline-block;
    padding: 0;
    margin-left: -40px;
    position: relative;
}

.header__search-cart-text h1{
    display: inline-block;
    vertical-align: middle;
    width: 7rem;
}

.header__search-cart-text{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.header__search-cart-list{
    position: absolute;
    content: "";
    width: 230%;
    height: auto;
    background-color: var(--white-color);
    top: 60px;
    right: 0;
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
    padding: 0 20px ;
    border: 1px solid var(--border-color);
    display: none;
    z-index: 1;
}

.header__search-cart-list h1{
    position: relative;
    color: var(--text-color);
    font-size: 1.3rem;
    bottom: -10px;
}
.header__search-cart-list h1::before{
    position: absolute;
    content: "";
    width: 100%;
    left: -10px;
    bottom: -20px;
    border-bottom: 1px solid var(--border-color);
}

.header__search-cart-list span{
    display: block;
    color: var(--text-color);
    font-size: 1.3rem;
    padding: 20px 0;
    margin-top: 30px;
}

.header__search-cart:hover .header__search-cart-list{
    display: block;
    animation: loading 0.2s ease-out forwards;
    transition: 0.5s ease;
}

.header__search-cart-list::after{
    position: absolute;
    content: "";
    width: 40%;
    height: 30px;
    top: -20px;
    right: 0;
}
.container{
    margin-top: 40px;
}

.slide1{
    position: relative;
}

.slide1__category{
    width: 100%;
    height: auto;
    padding: 0;
    border: 1px solid var(--border-color);
}

.slide1__category-header{
    padding: 6px 30px;
}

.slide1__category-header-icon{
    padding-right: 10px;;
}

.slide1__category-list{
    margin-top: 0;
    margin-bottom: 0;
}

.slide1__category-item{
    padding: 16px 20px;
    position: relative;                                                                                                                   */
    cursor: pointer;
    border-top: 1px var(--border-color) solid;
}
.slide1__category-item::before{
    content: "";
    width: 100%;
    top: 0;
    height: 0;
    left: 0;
    position: absolute;
    border-left: 3px solid var(--primary-color);
    display: block;
    transition: height 0.3s linear , border-left 0.3s linear 0.3s;
}

.slide1__category-item:hover::before{
    
    height: 100%;
    border-left: 400px solid var(--primary-hover);
    z-index: 0;
}

.slide1__category-item:hover .slide1__category-item-link span{
    color: var(--primary-color);
    transition: 2s ease;
}

.slide1__category-item-link{
    padding-left: 10px;
    position: relative;
    min-width: 18px;
}

.slide1__category-item-icon{
    padding-right: 12px;
    max-height: 12px;
    max-width: 22px;
}

.slide1__category-item-link span{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 0.5px;
}

.slide1__category-icon-load-more{
    float: right;
    color: var(--text-color);
    margin-top: 5px;
}

.slide1__content{

}

.slide1__content-sidebar{
    border: 1px solid var(--border-color);

}

.slide1__content-sidebar-list{
    display: flex;
    margin: 0;
}

.slide1__content-sidebar-item{
    position: relative;
}


.slide1__content-sidebar-item-link{
    display: inline-block;
    padding: 22.3px 15px;
    font-size: 1.4rem;
    font-weight: 600;
    position: relative;
}

.slide1__content-sidebar-item-link--current{
    color: var(--primary-color);
}

.slide1__content-sidebar-item-link:hover {
    color: var(--primary-color);
    transition: 0.4s linear;
}

.slide1__content-sidebar-item-icon{
    margin-right: 5px;
}

.slide1__content-home-content{
    background-image: url(../img/container/slide1/home/home3.jpg);
    background-size: cover;
    width: 100%;
    height: 498px;
    background-repeat: no-repeat;
    text-align: center;
    font-size: 4rem;
    position: relative;
    user-select: none;
    text-shadow: 0 0 1px #fff;


}



.slide1__content-home-content span{
    display: inline-block;
    margin: 15% 0 0 0 ;
}

.slide1__content-home-content-btn{
    border: none;
    padding: 12px 25px;
    color: var(--white-color);
    background-color: var(--primary-color);
    cursor: pointer;

}

.slide1__content-home-content-btn--current{
    background-color: var(--white-color);
    color: rgb(102, 102, 102);

}

.slide1__content-home-content-btn:hover{
    background-color: var(--white-color);
    color: var(--black-color);
}

.slide1__content-home-content span{
    color: rgb(102, 102, 102);
    font-size: 3rem;
    font-weight: 300;
}

.slide1__content-home-content h3{
    margin-top: 30px;
}

.slide1__content-home-content-page{
    width: 15px;
    height: 15px;
    background-color: var(--white-color);
    position: relative;
    bottom: -30%;
    right: -14px;
    display: inline-block;
    border-radius: 50%;
}

.slide1__content-home-content-page:hover{
    background-color: var(--primary-color);
    transition: 0.3s linear;
    cursor: pointer;
}

.slide1__content-home-content-page--current{
    background-color: var(--primary-color);
}

.slide1__content-home-content-page-lar{
    width: 30px;
    border-radius: 20px;
}

.slide1__category-item:hover .slide1__item-kitchen{
    opacity: 1;
    top: 0px;
    left: 103.5%;
    z-index: 5;
} 

.slide1__sidebar-blog-item,
.slide1__sidebar-pages-item{
    position: relative;
}


.slide1__sidebar-blog-list::after,
.slide1__sidebar-pages-list::after{
    content: "";
    position: absolute;
    border-top: 2px solid var(--primary-color);
    width: 100%;
    top: -1px;
}



.slide1__sidebar-blog-link,
.slide1__sidebar-pages-link{
    display: block;
    padding: 15.8px 30px 18px 20px;
    position: relative;
    font-family:var(--primary-font);
    color: var(--text-color);
}


.slide1__sidebar-blog-link::before,
.slide1__sidebar-pages-link::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    border-bottom: 1px solid var(--border-color);
}

.slide1__sidebar-blog-link:hover,
.slide1__sidebar-pages-link:hover{
    background-color: var(--primary-hover);
    color: var(--primary-color);
    transition: 0.2s linear;
}
.slide1__sidebar-shop-pages-list{
    position: absolute;
    width: 1047px;
    height: auto;
    background-color: var(--white-color);
    z-index: 1;
    box-shadow: 2px 1px 3px rgb(0 0 0 / 20%);
    border-bottom: 1px solid var(--border-color);
    border-left: 1px solid var(--border-color);
    left: -170px;
    display: none;
    top: 62px;
    padding-bottom: 30px;
}

.slide1__sidebar-shop-page-item{

}

.slide1__sidebar-shop-page-header{
    margin-bottom: 0;
    padding: 30px;
    font-family: var(--primary-font);
    position: relative;
    cursor: default;
    margin-top: 10px;

}
.slide1__sidebar-shop-page-header::before{
    content: "";
    width: 30%;
    bottom: 9.1px;
    right: 30px;
    position: absolute;
    border-bottom: 1px solid var(--border-color);
}


.slide1__sidebar-shop-page-header span{
    cursor: pointer;
}

.slide1__sidebar-shop-page-list-sub{
    padding-left: 30px;
}

.slide1__sidebar-shop-page-list-sub-item{
    padding: 8px;
    font-size: 1.4rem;
    color: var(--text-color);
    font-family: var(--primary-font);
    cursor: pointer;
    font-weight: 400;
    line-height: 1.42857;
}

.slide1__sidebar-shop-page-list-sub-item:first-child{
    position: relative;
}

.slide1__sidebar-shop-page-list-sub-item:first-child::before{
    content: "";
    width: 60%;
    top: -10px;
    left: 0;
    position: absolute;
    border-top: 1px solid var(--primary-color);
}

.slide1__sidebar-shop-page-list-sub-item:hover .slide1__sidebar-shop-page-link{
    color: var(--primary-color);
    transition: 0.2s linear;
}

.slide1__sidebar-shop-page-link{

}

.slide1__sidebar-shop-page-icon{
    padding-left: 12px;
    height: auto;
    margin-right: 10px;
    
}

.slide1__sidebar-shop-page-link-icon{
    padding-right: 6px;
}

.slide1__content-sidebar-item:hover .slide1__sidebar-shop-pages-list{
    display: flex;
    transform-origin: 23% top;
    animation: loading3 ease-in .3s;
    will-change: opacity,transform;
}

.slide1__sidebar-shop-pages-list::after{
    content: "";
    position: absolute;
    border-top: 2px solid var(--primary-color);
    width: 100%;
    top: -1px;
}

.slide1__footer{
    padding-top: 60px;
    justify-content: center;
    align-items: center;
}


.slide1__footer-item-cover{
    border: 1px solid var(--border-color);
    padding: 30px 30px;
    display: flex;
}

.slide1__footer-item:first-child .slide1__footer-item-cover::before{
    display: none;
}

.slide1__footer-icon{
    padding: 10px;
}

.slide1__footer-description{
    margin: 0 0 10px 10px;
}

.slide1__footer-description span{
    font-family: var(--primary-font);
}

.slide1__footer-item-cover h3{
    margin-bottom: 10px;
    font-size: 1.4rem;
}

.slide1__footer-item-cover a:hover{
    color: var(--primary-color);
    transition: 0.2s linear;
}

.slide1__footer-item-cover:hover .slide1__footer-icon{
    animation: icon-circle-img-anim 0.3s 2 ease-in-out;
}
.slide2{
    margin-top: 30px;
}

.slide2__header{
    display: flex;
    justify-content: space-between;
    position: relative;
}


.slide2__header::before{
    content: "";
    width: 90%;
    bottom: 9.1px;
    right: 10px;
    position: absolute;
    border-bottom: 1px solid var(--border-color);
}

.slide2__header-title{
    position: relative;
    margin-bottom: 12px;
    flex: 1;
}

.slide2__header-title::before{
    content: "";
    width: 100%;
    bottom: -3.5px;
    right: -11px;
    position: absolute;
    border-bottom: 2px solid var(--primary-color);
}

.slide2__header-title h2{
    margin: 0;
    padding: 20px 0 ;
}

.slide2__header-selection{
    padding-left: 300px;
}

.slide2__header-selection-link{
    display: inline-block;
    margin: 20px 14px;
    font-weight: 500;
}

.slide2__header-selection-link:hover{
    color: var(--primary-color);
    transition: 0.3s linear;
}

.slide2__header-selection-link span{

}

.slide2__header-selection-icon{
    margin-right: 4px;
}

.slide2__header-selection-link-current{
    color: var(--primary-color);
}
.slide2__container{

}

.slide2__category-list{
    display: flex;
    margin: 0 0 22px 0;
}

.slide2__category-item{
    padding: 5px 20px 5px 0;
    font-size: 1.3rem;
    position: relative;
    text-transform: uppercase;
}

.slide2__category-item::before{
    position: absolute;
    content: "";
    height: 8px;
    top: 50%;
    transform: translateY(-50%);
    left: -12px;
    border-right: 1px solid var(--border-color)
}

.slide2__category-item:first-child::before{
    display: none;
}

.slide2__category-link:hover{
    color: var(--primary-color);
    transition: 0.3s linear;
}
.slide2__product-medium-list{
    justify-content: center;
    align-items: center;
    user-select: none;
    position: relative;
}


.slide2__product-medium-item{
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
}

.slide2__product-medium-item-out{
    top: -15px;
}

.slide2__product-lar-link{
    display: block;
    position: relative;
    transition: all 0.4s linear;
}

.slide2__product-lar-img{
    background-size: cover;
    width: 100%;
    display: block;
}

.coating{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.1);
    z-index: 1;
    transform: scale(0);
    transition: all 0.4s linear;
}

.slide2__product-medium-item:hover .coating{
    transform: scale(100%);
}

.cover{
    position: relative;
    max-height: 213.333px;
}

.slide2__product-lar-link:hover .coating{
    transform: scale(100%);
}

.slide2__product-lar-img:hover{
    filter: brightness(0.9);
}


.slide2__product-medium-img{
    width: 100%;
    cursor: pointer;
}


.slide2__product-description{
    text-align: center;
    opacity: 1;
    transform: scale(100%);
    transition: all 0.5s linear;

}

.slide2__product-medium-item-link,
.slide2__product-action-btn{
    cursor: pointer;
}

.slide2__product-medium-item-link h3{
    font-weight: 400;
    font-size: 1.5rem;
}

.slide2__product-price{
    font-weight: 600;
    color: #ccc;
    margin-right: 8px;
    text-decoration: line-through;
}

.slide2__product-price--current{
    color: red;
    text-decoration: none;
    font-size: 1.6rem;
}

.slide2__product-medium-item:hover .slide2__product-medium-img{
    filter: brightness(95%);
}

.slide2__product-action{
    position: absolute;
    bottom: -50px;
    left: 9px;
    display: flex;
    justify-content: space-between;
    opacity: 0;
    transition: all 0.3s linear;
}

.slide2__product-action-btn{
    display: block;
    padding: 18.1%;
    color: #666;
    background-color: #f5f5f5;
    margin: 4px;
    position: relative;
}

.slide2__product-action-btn::before{
    content: "";
    position: absolute;
    width: 130%;
    top: -20px;
    height: 200%;
    left: -10px;
}

.slide2__product-medium-item:hover .slide2__product-action{
    opacity: 1;
    bottom: 0px;
}

.slide2__product-medium-item--out .slide2__product-price{
    display: none;
}

.slide2__product-medium-item--out .slide2__product-description{
    min-height: 45px; 
}


.slide2__product-medium-item:hover .slide2__product-medium-item-out .slide2__product-action{
    opacity: 1;
    bottom: 0px;
    transition: all 0.3s linear;
}

.slide2__product-medium-item:hover .slide2__product-description{
    opacity: 0;
    transform: scale(0);

}

.slide2__product-action-btn:hover{
    background-color: var(--primary-color);
    color: var(--white-color);
    transition: 0.3s linear;
}


.slide3{
    margin-top: 50px;
}

.slide3-order{
    order: 2;
}

.slide4{
    margin-top: 50px;
}


.slide4___footer{
    margin-top: 50px;
}

.slide4___footer-banner-img{
    width: 100%;
    display: block;
    transform: scale(0.95);
    cursor: pointer;
}

.slide4___footer-banner-link{
    display: block;
    position: relative;
    overflow: hidden;
    
}

.slide4___footer-banner-img {
    transform-origin: 65% 75%;
    transition: transform 1s, filter .5s ease-out;
}


.slide4___footer-banner-link:hover .slide4___footer-banner-img {
    transform: scale(1.05);
    filter: brightness(90%);
}

.slide__hotdeal{
    margin: 50px 0px;
}

.slide__hotdeal__header-title{
    position: relative;
    display: inline-block;
}

.slide__hotdeal__header-title h2{
    margin: 0;
    padding: 20px 0 ;
    font-size: 2.5rem;
}

.slide__hotdeal__header-title::before{
    content: "";
    width: 100%;
    bottom: 5px;
    right: 0;
    position: absolute;
    border-bottom: 2px solid var(--primary-color);
}

.slide__hotdeal__header{
    position: relative;
    margin-bottom: 40px;
}

.slide__hotdeal__header::after{
    content: "";
    position: absolute;
    width: 91.6%;
    top: 49.55px;
    right: 0;
    border-bottom: 1px solid var(--border-color);
}

.slide__hotdeal-item{
    position: relative;
    margin-bottom: 15px;
}

.slide__hotdeal-product{
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.slide__hotdeal-product:hover .slide__hotdeal-img{
    filter: brightness(90%);
}

.slide__hotdeal-img-link{
    display: block;
}

.slide__hotdeal-img{
    width: 100%;
}

.slide__hotdeal-description{
    text-align: center;
    opacity: 1;
    transform: scale(100%);
    transition: all 0.5s linear;
}

.slide__hotdeal-description h3{
    font-weight: 500;
    color: var(--text-color);
    
}

.slide-hotdeal__product-action{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 20px;
    bottom: -50px;
    opacity: 0;
    transition: all 0.3s linear;
}

.slide__hotdeal-item:hover .slide-hotdeal__product-action{
    bottom: -10px;
    opacity: 1;
}

.slide__hotdeal-item:hover .slide__hotdeal-description{
    opacity: 1;
    transform: scale(0);
}

.slide-hotdeal__product-action-btn{
    display: inline-block;
    padding: 20px;
    background-color: #f5f5f5;
    margin: 10px;
    cursor: pointer;
    color: var(--text-color);

}

.slide-hotdeal__product-action-btn:hover{
    background-color: var(--primary-color);
    color: var(--white-color);
}

.footer{
    max-width: 1500px;
}

.slide1__footer-item{
    margin-bottom: 15px;
}

.footer .slide1__footer .slide1__footer-item-cover{
    border: none;
}

.footer .slide1__footer-icon{
    padding: 18px;
}

.footer .slide1__footer-item-cover{
    position: relative;
}

.footer .slide1__footer-item-cover::before{
    position: absolute;
    content: "";
    height: 50%;
    top: 50%;
    transform: translateY(-50%);
    left: -20px;
    border-right: 1px solid var(--border-color);
}

.copyright{
    padding: 20px;
    width: 101%;
    text-align: center;
    border-top: 1px solid var(--border-color);
}

.copyright span{
    font-weight: 600;
}

.copyright a{
    font-weight: 600;
}

.copyright a:hover{
    color: var(--primary-color);
    transition: all 0.3s linear;
}



.back-home{
    position: fixed;
    padding: 16px;
    background-color: #ccc;
    right: 30px;
    bottom: 100px;
    z-index: 10;
    display: none;
    transition: all 0.3s linear;    

}

.back-home:hover{
    background-color: var(--primary-color);
    color: var(--white-color);
    transition: all 0.5s linear;
}


.roll:hover .back-home{
    display: block;
    animation: loading 5s linear;
}



.footer__tag{
    width: 100%;
    height: auto;
    padding: 30px 0;
    background-color: #f5f5f5;
}

.footer__tag p{
    user-select: none;
    font-size: 1.4rem;

}

.footer__tag a:hover{
    color: var(--primary-color);
    transition: 0.3s linear;
}

.footer__tag a{
    margin: 0 2px;
}


.slide2__product-medium{
    max-height: 600px;
    overflow-y: auto;
    scroll-behavior: smooth;
}
.slide2__product-medium::-webkit-scrollbar{
    width: 10px;
}

.slide2__product-medium::-webkit-scrollbar-thumb{
    background-color: #ccc;
    border-radius: 20px;

}

.slide2__product-medium::-webkit-scrollbar-thumb:hover{
    background-color: var(--primary-color);
}

.slide2__product-medium::-webkit-scrollbar-track{
    background-color: var(--border-color);
    border-radius: 20px;
}

.slide2__product-medium-down-link{
    position: absolute;
    top: 19%;
    z-index: 100;
    left: 0;
    display: block;  
    padding: 20px 5px;
}

.slide2__product-medium-up-link{
    position: absolute;
    display: block;
    bottom: 26%;
    left: 0;
    z-index: 100;
    padding: 20px 5px;
}

